<!DOCTYPE html>
<html>
  <head>
    <script>
      (function (d) {
        var s = d.createElement("script");
        /* uncomment the following line to override default position*/
        s.setAttribute("data-position", 2);

        s.setAttribute("data-account", "WMIzs45CY4");
        s.setAttribute("src", "https://cdn.userway.org/widget.js");
        (d.body || d.head).appendChild(s);
      })(document);
    </script>
    <noscript
      >Please ensure Javascript is enabled for purposes of
      <a href="https://userway.org">website accessibility</a></noscript
    >
  </head>
  <%- include("inc/head.ejs") -%>

  <body>
    <div class="gtco-loader"></div>

    <div id="page">
      <%- include("inc/header-menu") -%> <%- include("inc/header-index") -%> <%-
      include("inc/content-menus.ejs") -%> <%- include('inc/footer') -%>
    </div>

    <%- include('inc/footer-gototop') -%> <%- include('inc/footer-scripts') -%>
  </body>
</html>
